<!-- templates/includes/main_menu.html -->
<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Missing Persons</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link{% if request.endpoint == 'index' %} active{% endif %}" href="{{ url_for('index') }}">Home</a>
        </li>
        <div class="dropdown">
          <a class="nav-link dropdown-toggle{% if request.endpoint == 'dashboard' or request.endpoint == 'application_state' or request.endpoint == 'resources' or request.endpoint == 'category' %} active{% endif %}" type="button" id="person-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
            Dashboard
          </a>
          <ul class="dropdown-menu" aria-labelledby="dashboard-dropdown">
            <li><a class="dropdown-item{% if request.endpoint == 'dashboard' %} active{% endif %}" href="{{ url_for('dashboard') }}">Dashboard</a></li>
            <li><a class="dropdown-item{% if request.endpoint == 'application_state' %} active{% endif %}" href="{{ url_for('application_state') }}">Application State</a></li>
            <li><a class="dropdown-item{% if request.endpoint == 'resources' %} active{% endif %}" href="{{ url_for('resources') }}">Resources</a></li>
            <li><a class="dropdown-item{% if request.endpoint == 'category' %} active{% endif %}" href="{{ url_for('category') }}">Category</a></li>
          </ul>
        </div>
        <div class="dropdown">
          <a class="nav-link dropdown-toggle{% if request.endpoint == 'person' or request.endpoint == 'alias' or request.endpoint == 'address' or request.endpoint == 'phone' or request.endpoint == 'email' or request.endpoint == 'file' %} active{% endif %}" type="button" id="person-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
            Person
          </a>
          <ul class="dropdown-menu" aria-labelledby="person-dropdown">
            <li><a class="dropdown-item{% if request.endpoint == 'person' %} active{% endif %}" href="{{ url_for('person') }}">Person</a></li>
            <li><a class="dropdown-item{% if request.endpoint == 'file' %} active{% endif %}" href="{{ url_for('file') }}">Files</a></li>
            <li><a class="dropdown-item{% if request.endpoint == 'alias' %} active{% endif %}" href="{{ url_for('alias') }}">Alias</a></li>
            <li><a class="dropdown-item{% if request.endpoint == 'address' %} active{% endif %}" href="{{ url_for('address') }}">Addresses</a></li>
            <li><a class="dropdown-item{% if request.endpoint == 'phone' %} active{% endif %}" href="{{ url_for('phone') }}">Phones</a></li>
            <li><a class="dropdown-item{% if request.endpoint == 'email' %} active{% endif %}" href="{{ url_for('email') }}">Emails</a></li>
            <li><a class="dropdown-item{% if request.endpoint == 'event' %} active{% endif %}" href="{{ url_for('event') }}">Events</a></li>
            <li><a class="dropdown-item{% if request.endpoint == 'note' %} active{% endif %}" href="{{ url_for('note') }}">Notes</a></li>
          </ul>
        </div>
        <div class="dropdown">
          <a class="nav-link dropdown-toggle{% if request.endpoint == 'api' or request.endpoint == 'api_field' or request.endpoint == 'data_center' %} active{% endif %}" type="button" id="person-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
            APIs
          </a>
          <ul class="dropdown-menu" aria-labelledby="person-dropdown">
            <li><a class="dropdown-item{% if request.endpoint == 'api' %} active{% endif %}" href="{{ url_for('api') }}">Api</a></li>
            <li><a class="dropdown-item{% if request.endpoint == 'api_field' %} active{% endif %}" href="{{ url_for('api_field') }}">Api Field</a></li>
            <li><a class="dropdown-item{% if request.endpoint == 'data_center' %} active{% endif %}" href="{{ url_for('data_center') }}">Data Center</a></li>
          </ul>
        </div>
        <div class="dropdown">
          <a class="nav-link dropdown-toggle{% if request.endpoint == 'model' or request.endpoint == 'model_params' or request.endpoint == 'prompt' or request.endpoint == 'question' or request.endpoint == 'chatbox' or request.endpoint == 'notice' %} active{% endif %}" type="button" id="person-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
            Models
          </a>
          <ul class="dropdown-menu" aria-labelledby="person-dropdown">
            <li><a class="dropdown-item{% if request.endpoint == 'model' %} active{% endif %}" href="{{ url_for('model') }}">Models</a></li>
            <li><a class="dropdown-item{% if request.endpoint == 'model_params' %} active{% endif %}" href="{{ url_for('model_params') }}">Model Parameters</a></li>
            <li><a class="dropdown-item{% if request.endpoint == 'prompt' %} active{% endif %}" href="{{ url_for('prompt') }}">Prompts</a></li>
            <li><a class="dropdown-item{% if request.endpoint == 'question' %} active{% endif %}" href="{{ url_for('question') }}">Questions</a></li>
            <li><a class="dropdown-item{% if request.endpoint == 'chatbox' %} active{% endif %}" href="{{ url_for('chunk') }}">Chunks</a></li>
            <li><a class="dropdown-item{% if request.endpoint == 'chatbox' %} active{% endif %}" href="{{ url_for('chatbox') }}">Chat Box</a></li>
            <li><a class="dropdown-item{% if request.endpoint == 'notice' %} active{% endif %}" href="{{ url_for('notice') }}">Notices</a></li>
          </ul>
        </div>
      </ul>
      <form class="d-flex" action="/set_state" method="POST" name="state" autocomplete="off">
        <input type="hidden" class="form-control" name="path" value="{{ state_path }}" />
        {% if edit_id %}
          <input type="hidden" class="form-control" name="edit_id" value="{{ edit_id }}" />
        {% endif %}
        <select  class="form-select mr-sm-2 mx-1" id="state-processor" name="processor" aria-label="Switch Processor">
          {% if state_processors %}
            {% for key, value in state_processors.items() %}
              <option value="{{ key }}" {% if key == selected_processor %} selected {% endif %}>{{ value }}</option>
            {% endfor %}
          {% endif %}
        </select>
        <button class="btn btn-primary" type="submit">Set</button>
      </form>
    </div>
  </div>
</nav>
