<!-- templates/includes/main_menu.html -->
<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Missing Persons</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link{% if request.endpoint == 'index' %} active{% endif %}" href="{{ url_for('index') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if request.endpoint == 'category' %} active{% endif %}" href="{{ url_for('category') }}">Category</a>
        </li>
        <div class="dropdown">
          <a class="nav-link dropdown-toggle{% if request.endpoint == 'person' %} active{% endif %}" type="button" id="person-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
            Person
          </a>
          <ul class="dropdown-menu" aria-labelledby="person-dropdown">
            <li><a class="dropdown-item" href="{{ url_for('person') }}">Person</a></li>
            <li><a class="dropdown-item" href="{{ url_for('alias') }}">Alias</a></li>
            <li><a class="dropdown-item" href="{{ url_for('address') }}">Address</a></li>
            <li><a class="dropdown-item" href="{{ url_for('phone') }}">Phone</a></li>
            <li><a class="dropdown-item" href="{{ url_for('email') }}">Email</a></li>
            <li><a class="dropdown-item" href="{{ url_for('view_person') }}">View Person</a></li>
          </ul>
        </div>
        <div class="dropdown">
          <a class="nav-link dropdown-toggle{% if request.endpoint == 'api' or request.endpoint == 'api_field' %} active{% endif %}" type="button" id="person-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
            APIs
          </a>
          <ul class="dropdown-menu" aria-labelledby="person-dropdown">
            <li><a class="dropdown-item" href="{{ url_for('api') }}">Api</a></li>
            <li><a class="dropdown-item" href="{{ url_for('api_field') }}">Api Field</a></li>
            <li><a class="dropdown-item" href="{{ url_for('data') }}">Data</a></li>
          </ul>
        </div>
        <div class="dropdown">
          <a class="nav-link dropdown-toggle{% if request.endpoint == 'api' or request.endpoint == 'api_field' %} active{% endif %}" type="button" id="person-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
            Models
          </a>
          <ul class="dropdown-menu" aria-labelledby="person-dropdown">
            <li><a class="dropdown-item" href="{{ url_for('model') }}">Models</a></li>
            <li><a class="dropdown-item" href="{{ url_for('model_params') }}">Model Parameters</a></li>
            <li><a class="dropdown-item" href="{{ url_for('resources') }}">Resources</a></li>
            <li><a class="dropdown-item" href="{{ url_for('chatbox') }}">Chat Box</a></li>
          </ul>
        </div>
      </ul>
      <form class="d-flex" action="/set_state" method="POST" name="state" autocomplete="off">
        <input type="hidden" class="form-control" name="path" value="{{ state_path }}" />
        {% if edit_id %}
          <input type="hidden" class="form-control" name="edit_id" value="{{ edit_id }}" />
        {% endif %}
        <select  class="form-select mr-sm-2 mx-1" id="state-model" name="model" aria-label="Switch Model">
          <option value="0">Choose Model</option>
          {% if state_models %}
            {% for key, value in state_models.items() %}
              <option value="{{ key }}" {% if key == selected_model %} selected {% endif %}>{{ value }}</option>
            {% endfor %}
          {% endif %}
        </select>
        <select class="form-select mx-1" id="state-api" name="api" aria-label="Switch Api">
          <option value="0">Choose Api</option>
          {% if state_apis %}
            {% for key, value in state_apis.items() %}
              <option value="{{ key }}" {% if key == selected_api %} selected {% endif %}>{{ value }}</option>
            {% endfor %}
          {% endif %}
        </select>
        <button class="btn btn-primary" type="submit">Set</button>
      </form>
    </div>
  </div>
</nav>
