<!-- templates/search.html -->
{% extends 'layout.html' %}

{% block title %}Addresses{% endblock %}

{% block content %}

<h1 class="my-4">Addresses</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Address</th>
          <th scope="col">Person</th>
          <th scope="col" class="col-2">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for address in addresses %}
          <tr>
              <td scope="row">{{ address.id }}</td>
              <td>{{ address.name }}</td>
              <td>{{ address.address1 }} {{ address.city }}</td>
              {% for person in owners %}
                {% if person.id == address.owner %}
                  <td>{{ person.sirName }} {{ person.firstName }} {{ person.middleName }} {{ person.lastName }} {{ person.suffix }}</td>
                {% endif %}
              {% endfor %}
              <td><a class="btn btn-secondary" href="{{ url_for('edit_address', id=address.id) }}">Edit</a><br /><a class="btn btn-danger mt-2" type="button" data-bs-toggle="modal" data-bs-target="#deleteModal" data-bs-item-type="address" data-bs-item-id="{{ address.id }}" data-bs-item="{{ address.name }}: {{ address.address1 }} {{ address.city }}">Delete</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<hr>
<h3 class="my-4">Add Address</h3>

<div class="row mt-5">
  <div class="col-md-12">
    <form class="row g-4" action="/set_address" method="POST" name="address" autocomplete="off">
      <input type="hidden" class="form-control" id="address-id" name="id" />
      <div class="col-md-6">
        <label for="address-type" class="form-label">Type</label>
        <select class="form-select" id="address-type" name="type" required>
          <option value="">Choose...</option>
          {% for type in addressTypes %}
            <option value="{{ type.id }}">{{ type.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-md-6">
        <label for="address-name" class="form-label">Name</label>
        <input type="text" class="form-control" id="address-name" name="name" required>
      </div>
      <div class="col-md-6">
        <label for="address-address1" class="form-label">Address 1</label>
        <input type="text" class="form-control" id="address-address1" name="address1" required>
      </div>
      <div class="col-md-6">
        <label for="address-address2" class="form-label">Address 2</label>
        <input type="text" class="form-control" id="address-address2" name="address2">
      </div>
      <div class="col-md-3">
        <label for="address-city" class="form-label">City</label>
        <input type="text" class="form-control" id="address-city" name="city" required>
      </div>
      <div class="col-md-3">
        <label for="address-state" class="form-label">State</label>
        <input type="text" class="form-control" id="address-state" name="state" required>
      </div>
      <div class="col-md-3">
        <label for="address-zip5" class="form-label">Zip 5</label>
        <input type="text" class="form-control" id="address-zip5" name="zip5" required>
      </div>
      <div class="col-md-3">
        <label for="address-zip4" class="form-label">Zip 4</label>
        <input type="text" class="form-control" id="address-zip4" name="zip4">
      </div>
      <div class="col-md-4">
        <label for="address-owner" class="form-label">Person</label>
        <select class="form-select" id="address-owner" name="owner" required>
          <option value="">Choose...</option>
          {% for person in owners %}
            <option value="{{ person.id }}">{{ person.sirName }} {{ person.firstName }} {{ person.middleName }} {{ person.lastName }} {{ person.suffix }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-12 mb-5">
        <button class="btn btn-primary" type="submit">Save</button>
      </div>
    </form>
  </div>
</div>

{% include 'includes/delete_modal.html' %}

{% endblock %}
