<!-- templates/search.html -->
{% extends 'layout.html' %}

{% block title %}APIs{% endblock %}

{% block content %}

<h1 class="mt-4 mb-0">APIs</h1>
<p class="mt-1 mb-4">In Category there are two types of APIs. Model APIs are APIs for OpenAI, Anthropic/Claude etc.. so you can use them and train thier models on data and Data APIs are for places to get data to train AI Models. This a TODO. I am working on saving data for training models and will work on this feature later.</p>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Type</th>
          <th scope="col" class="col-2">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for api in apis %}
          <tr>
              <td scope="row">{{ api.id }}</td>
              <td>{{ api.name }}</td>
              <td>{{ api.type }}</td>
              <td><a class="btn btn-secondary" href="{{ url_for('edit_api', id=api.id) }}">Edit</a><br /><a class="btn btn-secondary mt-2" href="{{ url_for('link_set_state', type='api', id=api.id) }}">Set State</a><a class="btn btn-danger ms-2" type="button" data-bs-toggle="modal" data-bs-target="#deleteModal" data-bs-item-type="api" data-bs-item-id="{{ api.id }}" data-bs-item="{{ api.name }}">Delete</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<hr>
<h3 class="my-4">Add Api</h3>

<div class="row mt-5">
  <div class="col-md-12">
    <form class="row g-4" action="/set_api" method="POST" name="api" autocomplete="off">
      <input type="hidden" class="form-control" id="api-id" name="id" />
      <div class="col-md-6">
        <label for="api-name" class="form-label">Name</label>
        <input type="text" class="form-control" id="api-name" name="name" required>
      </div>
      <div class="col-md-6">
        <label for="api-type" class="form-label">Type</label>
        <select class="form-select" id="api-type" name="type" required>
          <option value="api">API</option>
          <option value="rss">RSS</option>
        </select>
      </div>
      <div class="col-md-12">
        <label for="api-url" class="form-label">URL</label>
        <input type="text" class="form-control" id="api-url" name="url" required>
      </div>
      <div class="col-md-6">
        <label for="api-key" class="form-label">Key</label>
        <input type="text" class="form-control" id="api-key" name="key">
      </div>
      <div class="col-md-6">
        <label for="api-secret" class="form-label">Secret</label>
        <input type="text" class="form-control" id="api-secret" name="secret">
      </div>
      <div class="col-md-12">
        <label for="api-description" class="form-label">Description</label>
        <textarea class="form-control" id="api-description" name="description" rows="3"></textarea>
      </div>
      <div class="col-12 mb-5">
        <button class="btn btn-primary" type="submit">Save</button>
      </div>
    </form>
  </div>
</div>

{% include 'includes/delete_modal.html' %}

{% endblock %}
