<!-- templates/view_person.html -->
{% extends 'layout.html' %}

{% block title %}Chunks{% endblock %}

{% block content %}

<h1 class="mt-4 mb-0">Chunks</h1>
<p class="mt-1 mb-4">Alias, Address, Email, Phone and File need a person as an owner.</p>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="row">
  <div class="col-md-12">
    <h3 class="my-2">Finish up stuff</h3>
    <p>Configuration page for chunk strategies. Last steps to Release:</p>
    <ul>
      <li>Create objects from all data in Person, Alias, Phone, etc.. entities.</li>
      <li>Save them to the chroma db when you create them. Create the edit, delete functions.</li>
      <li>Make sure that the models can be switched on all chats and prompts on the Notice page.</li>
      <li>Build out configuration for chunk strategies.</li>
      <li>Check for anything else in OllamaManager.
        <ul>
          <li>Build classes for each component you might want to add more to
            <ul>
              <li>Documents loaders</li>
              <li>See if it makes sense to have users adjust the chunk strategy Definately default for each type of chunk.</li>
              <li>Embedding types</li>
              <li>Models and Model Types</li>
            </ul>
          </li>
          <li>Update and remove the deprecated RetrievalQA.</li>
          <li>Run the code optimizer and check for other deprecated code.</li>
          <li>Look for unused code, find a python phpcs, phpstan, etc.., check if anything needs refactoring.</li>
        </ul>
      </li>
      <li>Build probability functionality and the other functions for Dashboard.</li>
      <li>Refactore managing the vector db for best resullts.</li>
      <li>Refactor Categories to feel right. Something about its design feels off..
        <ul>
          <li>apiTypes, there cen be RSS and APIs. What about the key and secret fields, multiple calls. Still needs work.</li>
        </ul>
      <li>Test and create release.</li>
    </ul>
  </div>
</div>

{% endblock %}
