<!-- templates/view_person.html -->
{% extends 'layout.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="row mt-5">
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<div class="row mt-5">
  <div class="col-md-3">
    {% include 'includes/sidebar_menu.html' %}
  </div>
  <div class="col-md-9">
    <h1 class="my-4">Dashboard</h1>
    <h3 class="my-4">Caluculate Probabilities</h3>
    <p>Calculate the probability of each person being involved. Softmax takes all people and gives them a rating from 0.0 to 1.0 where all people added together equals 1.0. So if there where two people listed then you would get two values both equaling 1.0. [0.5, 0.5], [0.75, 0.25], etc..</p>
    <h3 class="my-4">List Notices that need to be completed.</h3>
    <p>Notices on the Notice page are TODOs. The Optimize Investigation, when given a prompt and a question, gives suggestions on how to move forward if you find yourself stuck. List notices here that are incomplete. The better you make the prompt and the question the better the suggestions.</p>
    <p>All people who have a Missing Person category are the people you search for. ALL other individuals must have a Missing Person as an owner. They are the people in the immediate people group of the missing person. Build a component that searches for people in the immediate people group of the missing person that are in the immediate people group of other missing person. They could be part of a ring of abductions.</p>
  </div>
</div>

{% endblock %}
