<!-- templates/search.html -->
{% extends 'layout.html' %}

{% block title %}Edit Model{% endblock %}

{% block content %}

<h1 class="my-4">Edit Model</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="row">
  <div class="col-md-12">
    <a href="{{ url_for('model') }}" class="btn btn-primary mb-3">back</a>
  </div>
</div>

<div class="row mt-5">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <form class="row g-4" action="/set_model" method="POST" name="model" autocomplete="off">
          <input type="hidden" class="form-control" id="model-id" name="id" value="{{ model_data.id }}" />
          <div class="col-md-6">
            <label for="model-name" class="form-label">Name</label>
            <input type="text" class="form-control" id="model-name" name="name" value="{{ model_data.name }}" required>
          </div>
          <div class="col-md-6">
            <label for="model-model" class="form-label">Model</label>
            <input type="text" class="form-control" id="model-model" name="model" value="{{ model_data.model }}" required>
          </div>
          <div class="col-md-6">
            <label for="model-type" class="form-label">Type</label>
            <select class="form-select" id="model-type" name="type" required>
              {% for value, label in model_types %}
                {% if model_data.type == value %}
                  <option value="{{ value }}" selected>{{ label }}</option>
                {% else %}
                  <option value="{{ value }}">{{ label }}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
          <div class="col-12 mb-5">
            <button class="btn btn-primary" type="submit">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% include 'includes/delete_modal.html' %}

{% endblock %}
