<!-- templates/search.html -->
{% extends 'layout.html' %}

{% block title %}Notes{% endblock %}

{% block content %}

<h1 class="my-4">Notes</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="row">
  <div class="col-md-12">
    <a href="{{ url_for('note') }}" class="btn btn-primary mb-3">back</a>
  </div>
</div>

<div class="row mt-5">
  <div class="col-md-12">
    <form class="row g-4" action="/set_note" method="POST" name="note" autocomplete="off">
      <input type="hidden" class="form-control" id="note-id" name="id" value="{{ note_data.id }}" />
      <div class="col-md-9">
        <label for="note-note" class="form-label">Note</label>
        <textarea class="form-control" id="note-note" name="note" rows="3">{{ note_data.note }}</textarea>
        <div class="form-text" id="note-note-text">Notes related to the missing person that might hold weight in the investigation.</div>
      </div>
      <div class="col-md-6">
        <label for="note-owner" class="form-label">Person</label>
        <select class="form-select" id="note-owner" name="owner">
          <option value="0">Choose...</option>
          {% for person in owners %}
            {% if note_data.owner == person.id %}
              <option value="{{ person.id }}" selected>{{ person.sirName }} {{ person.firstName }} {{ person.middleName }} {{ person.lastName }} {{ person.suffix }}</option>
            {% else %}
              <option value="{{ person.id }}">{{ person.sirName }} {{ person.firstName }} {{ person.middleName }} {{ person.lastName }} {{ person.suffix }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
      <div class="col-12 mb-5">
        <button class="btn btn-primary" type="submit">Save</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
