<!-- templates/search.html -->
{% extends 'layout.html' %}

{% block title %}Edit Files{% endblock %}

{% block content %}

<h1 class="my-4">Edit Files</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="row">
  <div class="col-md-12">
    <a href="{{ url_for('file') }}" class="btn btn-primary mb-3">back</a>
  </div>
</div>

<div class="row mt-5">
  <div class="col-md-12">
    <form class="row g-4" action="/set_file" method="post" enctype="multipart/form-data" autocomplete="off">
      <input type="hidden" class="form-control" id="file-vector-id" name="id" value="{{ vector_data.id }}" />
      <div class="col-md-6">
        <label for="file-vector-file" class="form-label">Text</label>
        <input type="text" class="form-control" id="file-vector-text" name="text" value="{{ vector_data.id }}"  required>
      </div>
      <div class="col-12 mb-5">
        <button class="btn btn-primary" type="submit">Save</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
