<!-- templates/search.html -->
{% extends 'layout.html' %}

{% block title %}Edit Questions{% endblock %}

{% block content %}

<h1 class="my-4">Edit Questions</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="row">
  <div class="col-md-12">
    <a href="{{ url_for('question') }}" class="btn btn-primary mb-3">back</a>
  </div>
</div>

<div class="row mt-5">
  <div class="col-md-12">
    <form class="row g-4" action="/set_question" method="POST" name="question" autocomplete="off">
      <input type="hidden" class="form-control" id="question-id" name="id" value="{{ question_data.id }}" />
      <div class="col-md-9">
        <label for="question-question" class="form-label">Question</label>
        <textarea class="form-control" id="question-question" name="question" rows="3">{{ question_data.question }}</textarea>
        <div class="form-text" id="question-question-text">This is the part of the RAG LLM that asks the question. It the query. </div>
      </div>
      <div class="col-12 mb-5">
        <button class="btn btn-primary" type="submit">Save</button>
      </div>
    </form>
  </div>
</div>

{% include 'includes/delete_modal.html' %}

{% endblock %}
