<!-- templates/search.html -->
{% extends 'layout.html' %}

{% block title %}Files{% endblock %}

{% block content %}

<h1 class="my-4 mb-0">Files</h1>
<p>Upload both Images and Documents for the AI model to use. When you upload a document it is added to the chroma db to be used by the RAG LLM automatically. I will add in deleting, editing and saving chunks individually soon. Will add in more doc types soon. Images will be used in the future for facial recognition. I also plan to add in video for profile recognition.</p>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">File Name</th>
          <th scope="col">Type</th>
          <th scope="col" class="col-2">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for file in files %}
          <tr>
              <td scope="row">{{ file.id }}</td>
              <td>{{ file.filename }}</td>
              <td>{{ file.type }}</td>
              <td><a class="btn btn-secondary" href="{{ url_for('edit_file', id=file.id) }}">Edit</a><br /><a class="btn btn-danger mt-2" type="button" data-bs-toggle="modal" data-bs-target="#deleteModal" data-bs-item-type="file" data-bs-item-id="{{ file.id }}" data-bs-item="{{ file.file }}">Delete</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<hr>
<h3 class="my-4">Add File</h3>

<div class="row mt-5">
  <div class="col-md-12">
    <form class="row g-4" action="/set_file" method="post" enctype="multipart/form-data" autocomplete="off">
      <input type="hidden" class="form-control" id="file-id" name="id" />
      <div class="col-md-6">
        <label for="file-type" class="form-label">Type</label>
        <select class="form-select" id="file-type" name="type" required>
          <option value="">Choose...</option>
          {% for type in fileTypes %}
            <option value="{{ type.id }}">{{ type.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-md-6">
        <label for="file-file" class="form-label">File</label>
        <input type="file" class="form-control" id="file-file" name="file" required>
      </div>
      <div class="col-md-4">
        <label for="file-owner" class="form-label">Person</label>
        <select class="form-select" id="file-owner" name="owner" required>
          <option value="">Choose...</option>
          {% for person in owners %}
            <option value="{{ person.id }}">{{ person.sirName }} {{ person.firstName }} {{ person.middleName }} {{ person.lastName }} {{ person.suffix }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-12 mb-5">
        <button class="btn btn-primary" type="submit">Save</button>
      </div>
    </form>
  </div>
</div>

{% include 'includes/delete_modal.html' %}

{% endblock %}
