<!-- templates/index.html -->
{% extends 'layout.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}

<h1 class="my-4">Missing Persons Timeline Builder</h1>
<p>User account and Login vrs you download a json file with the missing person information you put in and find. Then upload that to start off where you left off.. With the second I can clear the database and have no saved data on my server. But How would that work with training an LLM on the missing person data? I need to find a way to train a separate model for every missing person.</p>
<p>Go through all of the records coming from the list below and build a timeline for everyone. Go levels deep. 1 level would be just the names of the peope in the immediate family. Level 2 would be family and friends. Level 3 would be family friends and their friends. etc.. Narrow timelines down to people in the areas during the time of dissapearence to start. Fan out as the investigation neads it.</p>

<h3 class="my-4">News</h3>
<p>List all media sources that are conneted and begi scanning for anything related to the missing person. With someone high profile who family is say an anchor search through the hosted shws for people who could be mad. All other news search for possible sightings. Make an LLM of all articles to be able to search it. One for the anchor broadcasts and one for news related stores.</p>

<h3 class="my-4">Social Media Accounts</h3>
<p>List all social media sources so more people can be identified and timelines made from them.</p>

<h3 class="my-4">Bills and Services</h3>
<p>List all Bills and Services and the people they hire, identify and timeline them.</p>

<h3 class="my-4">Phone Records</h3>
<p>List all Phone Records, identify and timeline them.</p>

<h3 class="my-4">Email Records</h3>
<p>List all Phone Records, identify and timeline them.</p>

{% endblock %}

