<!-- templates/search.html -->
{% extends 'layout.html' %}

{% block title %}Models{% endblock %}

{% block content %}

<h1 class="my-4">Models</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Type</th>
          <th scope="col" class="col-2">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for model in models %}
          <tr>
              <td scope="row">{{ model.id }}</td>
              <td>{{ model.name }}</td>
              <td>{{ model.type }}</td>
              <td><a class="btn btn-secondary" href="{{ url_for('edit_model', id=model.id) }}">Edit</a><br /><a class="btn btn-secondary mt-2" href="{{ url_for('link_set_state', type='model', id=model.id) }}">Set State</a><br /><a class="btn btn-danger mt-2" type="button" data-bs-toggle="modal" data-bs-target="#deleteModal" data-bs-item-type="model" data-bs-item-id="{{ model.id }}" data-bs-item="{{ model.name }}">Delete</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<hr>
<h3 class="my-4">Add Model</h3>

<div class="row mt-5">
  <div class="col-md-12">
    <form class="row g-4" action="/set_model" method="POST" name="model" autocomplete="off">
      <input type="hidden" class="form-control" id="model-id" name="id" />
      <div class="col-md-6">
        <label for="model-name" class="form-label">Name</label>
        <input type="text" class="form-control" id="model-name" name="name" required>
        <div class="form-text" id="model-name-text">This is the name of the model instance. You can use the same model and train multiple instances.</div>
      </div>
      <div class="col-md-6">
        <label for="model-model" class="form-label">Model</label>
        <input type="text" class="form-control" id="model-model" name="model" required>
        <div class="form-text" id="model-model-text">This is the name of the model from <a href="https://ollama.com/library" target="_blank">Ollama</a> Example: <a href="https://ollama.com/library/llama2" target="_blank">llama2</a>. You would add the name of the model in this field. It this eample the name is 'llama2'. When you click save a copy of this model will be downloaded and installed onto this computer if it does not already exist. You can see the list of downloaded models on <a href="{{ url_for('resources') }}">Resources</a></div>
      </div>
      <div class="col-md-6">
        <label for="model-type" class="form-label">Type</label>
        <select class="form-select" id="model-type" name="type" required>
          {% for value, label in model_types %}
            <option value="{{ value }}">{{ label }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-12 mb-5">
        <button class="btn btn-primary" type="submit">Save</button>
      </div>
    </form>
  </div>
</div>

{% include 'includes/delete_modal.html' %}

{% endblock %}
