<!-- templates/view_person.html -->
{% extends 'layout.html' %}

{% block title %}Resources{% endblock %}

{% block content %}

<h1 class="my-4">Resources</h1>

<div id="loading" style="display:none;">
    <div class="spinner"></div>
    <p>Processing, please wait...</p>
</div>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="row">
  <div class="col-md-6">
    {% for key, value in resources %}
      <p class="mt-0"><b>{{ key }}</b></p>
    {% endfor %}
  </div>
  <div class="col-md-6">
    {% for key, value in resources %}
      <p class="mt-0"><i>{{ value }}</i></p>
    {% endfor %}
  </div>
</div>

<hr>

<div class="row mt-4">
  <div class="col-md-12">
    <form class="row g-4" action="/set_resources" method="POST" name="resources" autocomplete="off">
      <div class="col-12">
        <button class="btn btn-primary" type="submit">Calculate Resources Used</button>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <h3 class="mt-5">Ollama Models Installed</h3>
  <div class="col-md-12">
    {% if models %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Size</th>
            <th scope="col" class="col-2">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for model in models %}
            <tr>
              <td><a href="https://ollama.com/library/{{ model.model | replace("latest", "") | replace(":", "") | trim }}" target="_blank"><b>{{ model.model | replace("latest", "") | replace(":", "") | trim }}</a></td>
              <td>{{ "%.2f" | format(model.size / (1024**3)) }}GB</td>
              <td><a class="btn btn-danger mt-2" type="button" data-bs-toggle="modal" data-bs-target="#deleteModel" data-bs-item="{{ model.model }}">Delete</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No models found or Ollama is not running.</p>
    {% endif %}
  </div>
</div>

<div class="row mt-5">
  <div class="col-md-12">
    <p><b>Model Types</b> - List built from AI - Be carefull of the size. Some are really big.</p>
    <ul>
      <li>8GB VRAM (Entry Level): Use 1B to 7B parameter models</li>
      <li>12GB - 16GB VRAM (Mid-Range): Suitable for 13B-14B models</li>
      <li>24GB+ VRAM (Professional): Capable of running 30B+ models</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p><b>Popular and Top Models</b> - List built from AI - To see the size click into the model.</p>
    <ul>
      <li><a href="https://ollama.com/library/llama3.1" target="_blank"><b>Llama 3.1</b></a>: Available in 8B, 70B, and 405B parameter sizes for general-purpose tasks.</li>
      <li><a href="https://ollama.com/library/gemma4" target="_blank"><b>Gemma 4</b></a>: Google's latest models designed for reasoning, coding, and multimodal (vision) tasks, with versions ranging from 2B to 31B.</li>
      <li><b>DeepSeek-R1</b>: An open reasoning model known for performance nearing advanced proprietary models.</li>
      <li><a href="https://ollama.com/search?c=tools" target="_blank"><b>Qwen 3.5</b></a> A family of multimodal models from Alibaba, including versions for coding and chat.</li>
      <li><b>Mistral Nemo</b>: A 12B model built in collaboration with NVIDIA, featuring a 128k context window.</li>
      <li><a href="https://ollama.com/search?q=small" target="_blank"><b>Phi-3</b></a>: Microsoft's small, efficient language model.</li>
    </ul>
  </div>
</div>

{% include 'includes/delete_model.html' %}

{% endblock %}
