<!-- templates/search.html -->
{% extends 'layout.html' %}

{% block title %}Application State{% endblock %}

{% block content %}

<h1 class="my-4">Application State</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="row mt-5">
  <div class="col-md-12">
    <form class="row g-4" action="/set_application_state" method="POST" name="state" autocomplete="off">
      <div class="col-md-6">
        <label for="state-if-gpu" class="form-label">If GPU</label>
        <select class="form-select" id="state-if-gpu" name="if_gpu">
          <option value="">Choose...</option>
          {% if state.if_gpu == 'cpu' %}
            <option value="cpu" selected>CPU</option>
          {% else %}
            <option value="cpu">CPU</option>
          {% endif %}
          {% if state.if_gpu == 'gpu' %}
            <option value="gpu" selected>GPU</option>
          {% else %}
            <option value="gpu">GPU</option>
          {% endif %}
        </select>
      </div>
      <div class="col-md-6">
        <label for="state-api" class="form-label">Api</label>
        <select class="form-select" id="state-api" name="api">
          <option value="0">Choose...</option>
          {% for api in apis %}
            {% if state.api == api.id %}
              <option value="{{ api.id }}" selected>{{ api.name }}</option>
            {% else %}
              <option value="{{ api.id }}">{{ api.api }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
      <div class="col-md-6">
        <label for="state-model" class="form-label">Model</label>
        <select class="form-select" id="state-model" name="model">
          <option value="0">Choose...</option>
          {% for model in models %}
            {% if state.model == model.id %}
              <option value="{{ model.id }}" selected>{{ model.model }}</option>
            {% else %}
              <option value="{{ model.id }}">{{ model.model }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
      <div class="col-md-6">
        <label for="state-person" class="form-label">Person</label>
        <select class="form-select" id="state-person" name="person">
          <option value="0">Choose...</option>
          {% for person in people %}
            {% if state.person == person.id %}
              <option value="{{ person.id }}" selected>{{ person.sirName }} {{ person.firstName }} {{ person.middleName }} {{ person.lastName }} {{ person.suffix }}</option>
            {% else %}
              <option value="{{ person.id }}">{{ person.sirName }} {{ person.firstName }} {{ person.middleName }} {{ person.lastName }} {{ person.suffix }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
      <div class="col-12 mb-5">
        <button class="btn btn-primary" type="submit">Save</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
